@page
@model Forum_Snackis.Areas.Identity.Pages.Account.Manage.GroupMessageModel
@{
}

<form asp-page-handler="acceptinvitation" method="post">
    <table>

        @foreach (var item in Model.GroupMessages)
        {
            if (item.Member == Model.MyUser.NickName && item.AcceptInvitation != true)
            {
                <tr>
                    <td style="padding-right:10px">Gå med i gruppen: @item.Name</td>
                    <td><button type="submit" name="id" value="@item.Id" class="btn btn-primary">Acceptera</button></td>
                </tr>
            }
        }

    </table>
</form>

<p style="padding-top: 20px">Skapa grupp:</p>
<form method="post">
    <input type="text" name="groupname" />
    <input name="creator" value="@Model.MyUser.NickName" hidden />
    <input name="member" value="@Model.MyUser.NickName" hidden />
    <input name="accept" value="true" hidden />
    <button type="submit">Spara</button>
</form>
<br />



<form method="post">
    <label for="cars">Välj grupp</label>
    <select name="groupname" id="cars">
        @foreach (var item in Model.Distinct)
        {
            if (item.Creator == Model.MyUser.NickName)
            {
                <option value="@item.Name">@item.Name</option>
            }
        }
    </select>
    <br />
    <p>Bjud in medlemmar:</p>
    <input type="text" name="member" />
    <input name="creator" value="@Model.MyUser.NickName" hidden />
    <button type="submit">Spara</button>
</form>
<br />

<p>Här ser du medlemmarna.</p>

@foreach (var item in Model.GroupMessages.GroupBy(g => g.Name))
{
    <ul>
        <li><b>@item.Key</b></li>
        @foreach (var member in item)
        {
            @if (member.Member != null)
            {
                @if (member.AcceptInvitation != true)
                {
                    <li>@member.Member (har inte tackat ja)</li>
                }
                else
                {
                    <li>@member.Member</li>
                }
            }
        }
    </ul>
}



<form method="post">
    <label for="cars">Välj grupp du vilka skriva till</label>
    <select name="groupname" id="cars">
        @foreach (var item in Model.GroupMessages)
        {
            if (item.Member == Model.MyUser.NickName)
            {
                <option value="@item.Name">@item.Name</option>
            }
        }
    </select>
    <br />
    <textarea rows="4" cols="70" name="text" placeholder="Skriv här"></textarea>
    <input name="creator" value="@Model.MyUser.NickName" hidden />
    @*<input name="member" value="@Model.MyUser.NickName" hidden />*@
    <br />
    <button type="submit">Spara</button>
</form>

@foreach (var message in Model.GroupMessages.GroupBy(g => g.Name))
{
    <h5>@message.Key</h5>
    @foreach (var item in message)
    {

        if (item.Message != null)
        {

    <div class="card" style="margin-bottom:20px; margin-top:20px">
        <div class="card-body" style="width:1000px">
            <div class="row">
                <div class="col-2">
                    <img src="" class="rounded-circle" style="margin-right: 10px; margin-left: 10px; height: 50px; width: 50px" alt="...">
                    <br />
                        @item.Creator                  
                </div>
                <div class="col-7">
                    @*@item.Name
                    <hr />*@
                    @item.Date
                    <hr />
                    @item.Message
                </div>
            </div>
        </div>
    </div>

                
            }
        }
    }

@*@foreach (var group in Model.GroupMessages)
    {
        if (Model.MyUser.NickName == group.Member || Model.MyUser.Id == group.Creator)
        {
            <ul>
                @if (group.Member != null)
                {
                    <li><b>@group.Name</b></li>
                }

                @if (group.Member != null)
                {
                    @if (group.AcceptInvitation != true)
                    {
                        <li>@group.Member (har inte tackat ja)</li>
                    }
                    else
                    {
                        <li>@group.Member</li>
                    }
                }

            </ul>

        }
    }*@