@page

@model Forum_Snackis.Pages.ForumsModel
@{
}

<div class="container">
    <h5>@Model.Subject</h5>
    <br />
    @if (Model.MyUser != null)
        {
            <a href="/NewThread?Subject=@Model.Subject"><button type="button" class="btn-primary">Ny tråd</button></a>
        }
        else
        {
            <a href="/NewThread"><button type="button" class="btn-primary">Ny tråd</button></a>
        }
   
    <br />
    <br />

    <div class="row">

        @foreach (var item in Model.Threads)
        {
            @foreach (var user in Model.Users)
            {


                if (item.Subject == Model.Subject && item.WriterId == user.Id)
                {
                <div class="card">
                    <div class="card-body" style="width:1000px">
                        <div class="row">
                            <img src="@user.Photo" class="rounded-circle" style="margin-right: 10px; margin-left: 10px; height: 50px; width: 50px" alt="...">
                            <div style="padding-left: 10px">
                                <a href="./Threads?Subject=@item.Subject&Thread=@item.Name">@item.Name</a>
                                <br />
                                @Model.CountInserts(item.Name) svar    @*- 120 läst*@
                            </div>
                                @*@if (item.Name != null)
                                {
                                <div style="padding-left:700px">
                                    @Model.LatestInsert(item.Name).ToShortDateString() >
                                </div>
                                 }*@
                        </div>
                    </div>
                </div>
                    }
                }
            }
        @*<div class="card">
                <div class="card-body" style="width:1000px">
                    <div class="row">
                        <img src="https://images.pexels.com/photos/2466274/pexels-photo-2466274.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="rounded-circle" style="margin-right: 10px; margin-left: 10px; height: 50px; width: 50px" alt="...">
                        <div style="padding-left: 10px">
                            <a href="./Threads?Subject=Volvo">Volvo</a>
                            <br />
                            53 svar - 120 läst
                        </div>
                        <div style="margin-left:700px">
                            15 apr >
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>

